caffe_snaps
clust_runs
outputs
caffe_vis
caffe2
active_files
*DS_Store
*.sh
*.eps
*.log
*.fig
*.png
\#*\#
.\#*
*.mat
*.dat
*.bak
*.dir
*.npy
*.h5
*.binaryproto
*.png
*.pdf
*.jpg
*.JPG
*.pkfig
.*.sw*
*.sw*
*~
*.zip
*.tar
*.tgz
*.gz
*cbk?*
*.nfs*
Matlab2Goog
zz_*
request_vis
*.err
*.log
*.out
.buildpath
.project
.settings
.metadata
*.pyc
